/* ================================================
   RESET GERAL
================================================ */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
/* Estilo geral */
/* ================================================
   ESTILOS GERAIS
================================================ */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

html{
    overflow-x: hidden; /* Remover scroll lateral */
}


body {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9; /* Cor de fundo geral */
  padding-top: 80px; /* Ajuste o valor para evitar sobreposição do conteúdo pelo header */
  overflow-x: hidden; /* Remover scroll lateral */
}





/* ================================================
   HEADER
================================================ */
/* Header */
/* ================================================
   HEADER
================================================ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.5s ease, opacity 0.5s ease;
  opacity: 1;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

/* ================================================
   HEADER
================================================ */
header .logo img {
  width: 150px;
}

/* ================================================
   HEADER
================================================ */
header nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

/* ================================================
   HEADER
================================================ */
header nav ul li a {
  text-decoration: none;
  color: #dc625c;
  font-weight: bold;
}

/* Mobile Nav */
.mobile-nav {
  display: none;
}

header.scrolled {
  background-color: #dc625c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}

header .logo img {
  width: 150px;
  transition: all 0.5s ease;
}

header.scrolled .logo img {
  content: url("assets/logo2.png");
  transform: scale(0.9);
  transition: transform 0.5s ease;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

header nav ul li a {
  text-decoration: none;
  color: #dc625c;
  font-weight: bold;
  transition: color 0.5s ease;
}

header.scrolled nav ul li a {
  color: #fff;
}


/* ================================================
   MENU MOBILE
================================================ */
.hamburger {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* ================================================
   MENU MOBILE
================================================ */
#mobile-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #dc625c;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

 transition: top 0.3s ease;
  z-index: 1000;
}

#mobile-menu.open {
  transform: translateX(0);
}

/* ================================================
   MENU MOBILE
================================================ */
#mobile-menu ul {
  display: flex;
  flex-direction: column; /* Faz os itens ficarem em coluna */
  gap: 1rem; /* Espaçamento entre os itens */
  padding: 1rem; /* Para evitar que os itens fiquem colados */
}

/* ================================================
   MENU MOBILE
================================================ */
#mobile-menu ul li {
  padding: 0.5rem 1rem;
}

/* ================================================
   MENU MOBILE
================================================ */
#mobile-menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
}

@media (min-width: 768px) {
/* ================================================
   MENU MOBILE
================================================ */
  .hamburger {
    display: none; /* Esconde o botão no desktop */
  }
}

/* Hidden Class */
.hidden {
  display: none;
}

/* Hero Section */
/* ================================================
   HERO SECTION
================================================ */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dc625c;
  color: #fff;
  padding: 2rem;
  text-align: center;
  height: 240px; /* Aplicado no desktop */
}

@media (max-width: 768px) {
/* ================================================
   HERO SECTION
================================================ */
  .hero {
    height: auto; /* Remove o height fixo no mobile */
  }
}

/* ================================================
   HERO SECTION
================================================ */
.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  opacity: 0; /* Começa invisível */
  transform: translateY(50px); /* Começa abaixo */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Animação suave */
}

/* ================================================
   HERO SECTION
================================================ */
.hero .profile-photo {
  width: 200px;
  border-radius: 50%;
}

/* ================================================
   HERO SECTION
================================================ */
.hero .intro-text h1 {
  font-size: 2rem;
  text-align: left;
}

@media (max-width: 768px) {
.hero .intro-text h1 {
  margin-top: -50px;
  font-size: 2rem;
  text-align: left;
}
}

/* ================================================
   HERO SECTION
================================================ */
.hero .intro-text p {
  /*margin-top: 1rem;*/
  font-size: 1rem;
  text-align: left;
}

/* Services Section */
/* ================================================
   SEÇÃO SERVICES
================================================ */
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #f9f9f9;
  margin-top: 50px;
  opacity: 0; /* Começa invisível */
  transform: translateY(50px); /* Começa abaixo */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Animação suave */
}


.service {
  text-align: center;
  max-width: 250px;
  flex: 1 1 calc(25% - 2rem); /* Ajuste para manter os itens mais próximos até que não caibam mais */
}

.service img {
  width: 80px;
}

.service h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #dc625c;
}

.service p {
  height: 60px;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #555;
}

/* Botões Discover Now */
.service .btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #dc625c;
  color: #f9f9f9;
  text-decoration: none;
  border: 2px solid #dc625c;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease, transform 0.2s ease;
  z-index: 0;
  white-space: nowrap; /* Impede a quebra do botão em duas linhas */
  align-self: center; /* Alinha o botão à base do contêiner */
}


.service .btn::before {
  content: '';
  position: absolute;
  top: 100%; /* Começa fora do botão */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9; /* Fundo branco para o hover */
  z-index: -1; /* Fica abaixo do botão */
  transition: top 0.3s ease; /* Animação de baixo para cima */
}

.service .btn:hover {
  color: #dc625c; /* Texto no hover */
  border-color: #dc625c; /* Borda no hover */
  transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
}

.service .btn:hover::before {
  top: 0; /* Move o fundo branco para dentro */
}

.service .btn span {
  position: relative;
  z-index: 1; /* Garante que o texto esteja acima do pseudo-elemento */
}



/* Responsive Design */
@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

/* ================================================
   HERO SECTION
================================================ */
  .hero-content {
    flex-direction: column;
      opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  }

/* ================================================
   SEÇÃO SERVICES
================================================ */
  .services {
    flex-direction: column;
    align-items: center;
    opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  }
}

/* Hero Section */
/* ================================================
   HERO SECTION
================================================ */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dc625c;
  color: #fff;
  padding: 2rem;
}

/* ================================================
   HERO SECTION
================================================ */
.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 2rem;
}

/* ================================================
   HERO SECTION
================================================ */
.hero .profile-photo {
  width: 250px;
  height: auto;
  border-radius: 50%;
}

/* ================================================
   HERO SECTION
================================================ */
.hero .intro-text {
  max-width: 600px;
}

/* ================================================
   HERO SECTION
================================================ */
.hero .intro-text h1 {
  font-size: 2.2rem;
  /*margin-bottom: 1rem;*/
}

/* ================================================
   HERO SECTION
================================================ */
.hero .intro-text p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Responsividade */
@media (max-width: 768px) {
/* ================================================
   HERO SECTION
================================================ */
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

/* ================================================
   HERO SECTION
================================================ */
  .hero .intro-text {
    max-width: 100%;
  }

/* ================================================
   HERO SECTION
================================================ */
  .hero .profile-photo {
    margin-bottom: 1.5rem;
     width: 150px;
  }
}

.desktop-nav a {
  text-decoration: none;
  color: #dc625c;
  font-weight: bold;
  position: relative;
  transition: all 0.3s ease;
}

.desktop-nav a:hover {
  color: #af4e4e; /* Cor do texto ao passar o mouse */
}

.desktop-nav a::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Distância do texto */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #af4e4e;
  transition: width 0.3s ease;
}

.desktop-nav a:hover::after {
  width: 100%; /* Animação para preencher a largura */
}

.desktop-nav a:hover {
  transform: scale(1.1); /* Ampliação suave */
}


.language-switcher {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.language-switcher button {
  display: flex; /* Alinha a bandeira e o texto */
  align-items: center; /* Centraliza verticalmente */
  gap: 0.5rem; /* Espaçamento entre bandeira e texto */
  padding: 0.5rem 1rem; /* Ajusta o espaçamento interno */
  border: none; /* Remove borda */
  background: none; /* Remove fundo inicial */
  color: #dc625c; /* Texto na cor inicial */
  font-size: 0.9rem; /* Tamanho do texto */
  cursor: pointer; /* Mostra que é clicável */
  position: relative; /* Necessário para o efeito de preenchimento */
  overflow: hidden; /* Garante que o preenchimento fique dentro do botão */
  transition: color 0.3s ease; /* Suaviza a mudança de cor */
}

.language-switcher button img {
  width: 20px; /* Tamanho das bandeiras */
  height: auto; /* Mantém proporção */
  transition: filter 0.3s ease; /* Suaviza o efeito */
}

.language-switcher button::before {
  content: '';
  position: absolute;
  top: 100%; /* Começa fora do botão */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dc625c; /* Cor do preenchimento */
  z-index: -1; /* Fica atrás do texto e da bandeira */
  transition: top 0.3s ease; /* Suaviza o movimento de preenchimento */
}

.language-switcher button:hover::before {
  top: 0; /* Move o preenchimento para dentro */
}

.language-switcher button:hover {
  color: #fff; /* Torna o texto branco quando o preenchimento aparece */
}

.language-switcher button:hover img {
  filter: brightness(0) invert(1); /* Torna o SVG branco */
}





/* ================================================
   RODAPÉ
================================================ */
/* Footer */
/* ================================================
   RODAPÉ
================================================ */
footer {
  position: fixed; /* Sempre no rodapé */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9; /* Opcional: pode alterar o fundo */
  text-align: center;
  padding: 0.5rem 0;
  color: #dc625c; /* Cor do texto */
  font-size: 0.8rem; /* Tamanho reduzido do texto */
}

footer p {
  margin-top: -1.0rem; /* Reduz a margem superior */
  margin-bottom: 0; /* Remove espaço inferior, se necessário */
  font-size: 0.9rem; /* Opcional: ajuste o tamanho da fonte, se necessário */
  color: #d26969; /* Ajuste a cor, se desejar */
  text-align: center; /* Centraliza o texto */
}

/* ================================================
   RODAPÉ
================================================ */
footer .language-switcher {
  display: flex; /* Flex container para os botões */
  justify-content: center; /* Centraliza os botões no container */
  gap: 1rem; /* Espaçamento entre os botões */
}

/* Desktop mantém os serviços lado a lado */
@media (min-width: 768px) {
/* ================================================
   SEÇÃO SERVICES
================================================ */
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .arrow {
    display: none; /* Esconde as setas no desktop */
  }
}

/* Mobile exibe como slider */
@media (max-width: 768px) {
/* ================================================
   SEÇÃO SERVICES
================================================ */
  .services {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Esconde os elementos fora da área visível */
  }


/* ================================================
   SEÇÃO SERVICES
================================================ */


  .service {
    flex: 0 0 100%; /* Apenas um serviço por vez */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

/* Serviços: Estilo para ícones em elipse */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px; /* Largura da elipse */
  height: 80px; /* Altura da elipse */
  background-color: #dc625c; /* Cor da elipse */
  border-radius: 50%; /* Forma redonda */
  margin: 0 auto 1rem; /* Centraliza e adiciona espaçamento inferior */
}

.icon-container img {
  width: 40px; /* Tamanho do ícone */
  height: 40px;
  z-index: 1; /* Garante que o ícone fique na frente */
}

/* Ocultar a seção Services no mobile */
@media (max-width: 768px) {
  .services {
    display: none;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
}





/* Slider para Mobile */


.service {
  flex: 0 0 100%; /* Cada slide ocupa 100% da largura */
  text-align: center;
  padding: 1.5rem; /* Adiciona espaçamento interno para evitar cortes */
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
}

.service img {
  max-width: 80px; /* Define tamanho máximo para os ícones */
  height: auto;
  margin-bottom: 1rem; /* Espaço entre o ícone e o restante */
}

.arrow {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #dc625c;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  z-index: 100;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.hidden {
  display: none;
}

/* Configuração do Slider */
.services-slider {
  display: flex; /* Oculto no desktop */
  position: relative;
  overflow: hidden; /* Esconde os elementos fora da área visível */
  width: 100%;
  height: 300px; /* Define uma altura para o slider */
  /*border: 2px solid #dc625c;*/
  border-radius: 10px;
  /*background-color: #fff;*/
  padding: 1rem;
  margin-top: 2rem;
  display: flex; /* Flex container */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  margin-bottom: 100px; /* Adiciona espaço extra abaixo do slider */
}

.services-slider .btn {
  display: inline-block;
  margin-top: 0rem;
  padding: 0.5rem 1rem;
  background-color: #d26969; /* Fundo padrão */
  color: #fff; /* Texto padrão */
  text-decoration: none;
  border: 2px solid #d26969; /* Borda padrão */
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.services-slider .btn:hover {
  color: #d26969; /* Texto no hover */
  background-color: #fff; /* Fundo no hover */
  border-color: #d26969; /* Borda no hover */
}

/* Contêiner flexível para o slider */
.services-slider-container {
  display: flex;
  transition: transform 0.3s ease-in-out; /* Suaviza o movimento */
  touch-action: pan-y; /* Permite deslizar horizontalmente sem interferir no scroll vertical */
}


.services-slider .service p {
  min-height: 4.5rem; /* Define um espaço fixo equivalente a 3 linhas de texto */
  line-height: 1.5rem; /* Altura de linha para garantir espaçamento adequado */
  margin-bottom: 1rem; /* Espaçamento entre o texto e o botão */
  text-align: center; /* Garante alinhamento central */
}


/* Cada slide ocupa toda a largura e é centralizado */
.service {
  width: 60px;
  flex: 0 0 100%; /* Cada slide ocupa 100% da largura */
  text-align: center;
  display: flex;
  flex-direction: column; /* Centraliza o conteúdo no eixo vertical */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  /*height: 100%; /* Garante que o slide ocupe toda a altura */
  height: 355px;

  
}

.service img {
  width: 80px;
  height: auto;
  margin-bottom: 1rem;


}

.service h3 {
  color: #dc625c;
  font-size: 1.5rem;
  margin: 0.5rem 0; /* Ajuste de margem para melhor espaçamento */
}

.service p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5rem; /* Aumenta a altura da linha para legibilidade */
  text-align: center;
  min-height: 4.5rem; /* Garante espaço fixo para o texto */
}

/* Botões de navegação */
.arrow {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #dc625c;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  z-index: 100;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.hidden {
  display: none;
}

/* Exibir o slider apenas no mobile */
@media (max-width: 768px) {
  .services-slider {
    margin-bottom: 8rem; /* Aumenta o espaço abaixo do slider */
    display: flex;
    height: 340px;
  }
}



header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Garante um fundo visível */
  z-index: 1000; /* Mantém o header acima de outros elementos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona um leve efeito de sombra */
}

@media (max-width: 768px) {
  header {
    height: 60px; /* Altura específica para mobile */
  }

}

}

/* Redes Sociais */
.social-links {
  margin-bottom: 0.5rem; /* Diminua o espaço abaixo dos ícones */
  display: flex; /* Alinha os ícones horizontalmente */
  justify-content: center; /* Centraliza os ícones */
  gap: 0.5rem; /* Pequeno espaçamento entre os ícones */
  margin-bottom: 1rem; /* Espaçamento inferior */
}

.social-links a {
  display: flex; /* Configura o link como flex container */
  align-items: center; /* Centraliza o ícone verticalmente */
  justify-content: center; /* Centraliza o ícone horizontalmente */
  width: 40px; /* Define o tamanho do link */
  height: 40px; /* Define a altura do link */
  text-decoration: none; /* Remove sublinhado padrão */
  background: none; /* Remove fundo padrão */
  cursor: pointer; /* Adiciona a mãozinha ao passar o mouse */
  transition: transform 0.3s ease; /* Suaviza a animação */
}

.redes-icons {
  width: 24px; /* Define a largura do ícone */
  height: 24px; /* Define a altura do ícone */
  object-fit: contain; /* Garante proporções corretas */
  transition: transform 0.3s ease, filter 0.3s ease; /* Suaviza zoom e brilho */
}

.social-links a:hover .redes-icons {
  transform: scale(1.3); /* Amplia o ícone ao passar o mouse */
  filter: brightness(1.2); /* Aumenta o brilho do ícone */
}


/* Contêiner de rolagem */
#scroll-container {
  scroll-snap-type: y mandatory; /* Ativa o snap na direção vertical */
  overflow-y: scroll; /* Permite rolar verticalmente */
  height: 100vh; /* Cada seção ocupa 100% da altura da tela */
}

/* Cada seção */

.scroll-section {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#portfolio {
  /*background-color: #f0f0f0;*/
  overflow-x: hidden; /* Remover scroll lateral */
}

#highlights {
  background-color: #e0e0e0;
}

#about {
  background-color: #d0d0d0;
}

#contact {
  background-color: #c0c0c0;
}

